/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla&display=swap");

.react-kanban-board {
  /* background-color: #ebd276; */
}

.react-kanban-column {
  /* background-color: #ebd276; */
  /* width: 200px !important; */
}
.react-kanban-card {
  /* width: 200px !important; */
  /* background-color: #ebd276; */
}
.react-kanban-card__title {
  /* width: 200px !important; */
}
.KanbanCardTitle {
  /* width: 200px !important; */
}

body,
html,
p,
span,
div,
h4,
h3,
h2,
h1 {
  font-family: "Anek Bangla", sans-serif !important ;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKGa3kuqGMelsk9hudCC-ADTDzF9akZ1cKm8AmgYzmwevMg9u2xCtIRM1DMa3hFfJ9NYw&usqp=CAU");
  object-fit: "stretch";
  background-size: 100%;
}

.Toastify__toast-body. {
  white-space: pre-line;
}

/* react-colorful__interactive {
  height: 240px;
} */

#theBox {
  transform: translate (-50%, -50%)
}
.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}




